<h1>Create New User<h1>

<form accept_charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]"><br><br>
  <label for="email">Email Address:</label>
  <input type="text" id="email" name="user[email]"><br><br>
  <label for="pwd">Password:</label>
  <input type="password" id="password" name="user[password]"><br><br>
  <input type="submit" value= "Submit">
</form>